/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Kaushan+Script&family=Lobster+Two&family=Rubik+Vinyl&family=Satisfy&family=Spectral:ital,wght@1,200&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Kaushan+Script&family=Lato:wght@100&family=Lobster+Two&family=Merriweather:wght@300&family=Roboto:wght@100&family=Rubik+Vinyl&family=Satisfy&family=Spectral:ital,wght@1,200&family=Tilt+Prism&display=swap");
* {
  text-decoration: none;
  list-style-type: none;
}

.Navigationlist li a {
  color: black;
}
.Navigationlist li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Tilt Prism", cursive;
}
.logo {
  width: 100%;
  background-color: inherit;
  color: brown;
  font-weight: 900;
  font-family: "Tilt Prism";
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  color: brown;
  text-align: center;
  font-size: 3em;
}
.nav {
  z-index: 10;
  width: 100%;
  height: 4em;
  background-color: rgb(18, 15, 15, 0);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: fixed;
  top: 0;
  backdrop-filter: blur(50px);
}

.Navigationlist li {
  float: right;
}
#navops {
  margin-right: 1em;
  float: right;
  width: 4rem;
  border-radius: 10px;
  padding: 0 1em;
  font-family: "Gloock";
  font-weight: 800;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
ul li:first-child {
  padding-left: 2%;
  float: left;
  box-shadow: none;
}

.humburger,
.bar {
  display: none;
}
.side-Option {
  display: none;
}
#burger-op {
  color: #ffffff;
}
#burger-op:hover {
  color: bisque;
}
.hidden {
  display: none;
}
@media only screen and (max-width: 750px) {
  .Navigationlist li {
    display: none;
  }
  ul li:first-child {
    display: block;
  }
  .NavigationOnSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .dropdown {
    display: none;
  }
  .humburger {
    display: block;
    float: right;
    margin: 1em;
    width: 45px;
    height: 35px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .humburger .bar,
  .humburger:after,
  .humburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: rgb(196, 31, 31);
    margin: 6px 0px;
    transition: 0.4s;
  }
  .humburger.is-active::before {
    transform: rotate(315deg) translate(-9px, 6px);
  }
  .humburger.is-active::after {
    transform: rotate(-315deg) translate(-10px, -8px);
  }
  .humburger.is-active .bar {
    opacity: 0;
  }

  .side-Option {
    top: 4em;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 245, 245, 0.8);
    /* border: 1px solid rgb(243, 235, 235); */
    width: 60%;
    height: 100vh;
    margin-left: 40%;
    right: -70%;
    transition: 0.5s;
  }
  .side-Option.activate {
    line-height: 2.5rem;
    height: 50vh;
    right: 0;
    transition: 0.5s;
    padding-right: auto;
    padding-left: auto;
    z-index: 30;
  }
  #op2 {
    color: #ffffff;
  }
  #op2:hover {
    color: rgb(233, 230, 227);
  }
  .humList {
    color: black;
    font-size: 1.4em;
  }
  .humList:hover {
    background-color: rgb(50, 143, 224);
    padding: 0em 1em;
  }
}
