.about {
  width: 95%;
  font-size: calc(15px + 0.390625vw);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(0.1em + 0.1vw);
  transition: opacity 3s, transform 2s;
  opacity: 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.fade {
  opacity: 1;
}
.allContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(250, 247, 247); */
  font-size: calc(15px + 0.390625vw);
  background-color: rgb(234, 239, 244);
}
.lines {
  width: 20%;
  height: 1px;
  background-color: black;
}
.moreAbout {
  padding-bottom: 1em;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.currentWork {
  padding-bottom: 1em;
  margin-top: 1em;
}
.active {
  padding-left: 1em;
}
.imgContainerAbout {
  width: 40rem;
  height: 100%;
  background-color: brown;
}
.aboutBehave,
.moreAbout,
.currentWork {
  font-size: calc(18px + 0.390625vw);
}
.SubContainer {
  margin-left: 2em;
  width: 40%;
}
.aboutme {
  color: rgb(36, 34, 34);
  font-size: calc(1.5em + 0.5vw);
}
.AboutImg {
  width: 100%;
  height: 92%;
  margin-left: 1em;
  margin-top: 1.5em;
}
.name {
  color: rgb(194, 10, 10);
}
.OtherPeople {
  margin: 2em 0;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 20px;
  padding: 1em;
}
.whatPeople {
  font-size: calc(24px + 0.2vw);
  color: black;
}
.personDiv1,
.personDiv2 {
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 249, 249);
  width: 50%;
  min-height: 12rem;
  border-radius: 20px 0px 0px 20px;
}
.personDiv1 {
  border-radius: 20px 0px 0px 20px;
}
.personDiv2 {
  border-radius: 0px 20px 20px 0px;
}
.imgDiv {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
}
.nameOfRef {
  text-align: center;
  color: rgb(7, 7, 12);
  font-size: calc(11px + 0.3vw);
  margin-bottom: 0.2em;
}
.personImg {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
.reference {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(11px + 0.3vw);
  margin: 0.5em;
}
.email {
  /* position: absolute; */
  /* bottom: 0em; */
  display: flex;
  /* justify-content: end; */
  color: brown;
}
.Company {
  font-size: calc(11px + 0.3vw);
  color: rgb(14, 14, 126);
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.peopleContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
@media only screen and (max-width: 1000px) {
  .about {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    height: auto;
  }
  .SubContainer,
  .imgContainerAbout {
    width: 90%;
    height: auto;
  }
  .imgContainerAbout {
    height: 50%;
    background-color: inherit;
  }
  .AboutImg {
    width: 90%;
    height: 90%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .SubContainer {
    font-size: calc(15px + 1vw);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 960px) {
  .peopleContainer {
    flex-direction: column;
    gap: 1em;
    height: auto;
  }
  .OtherPeople {
    width: 90%;
  }
  .personDiv1,
  .personDiv2 {
    width: 80%;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0.6em;
  }
  /* .email {
    position: absolute;
    bottom: 0;
    top: 2em;
    margin-top: 3em;
  } */
  .Company {
    text-align: center;
  }
  .reference p {
    height: 100%;
  }
  /* .reference .email {
    height: 100%;
    background-color: brown;
  } */
}
@media only screen and (max-width: 450px) {
  .personDiv1,
  .personDiv2 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .imgDiv {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .personDiv1,
  .personDiv2 {
    width: 100%;
  }
  /* .email {
    position: absolute;
 
    bottom: 0;
  } */
}
