.Skill {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutSkill,
.Skill {
  background-color: rgb(214, 224, 224);
}
.skill_header {
  width: 80%;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.skill_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  width: 90%;
  min-height: 30em;
  margin: auto auto;
  gap: 1.5em;
  background-color: rgb(225, 229, 229);
}
.skill_container {
  width: 100%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  /* gap: 2em; */
  background-color: inherit;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  min-height: 1em;
  width: 4em;
  font-size: calc(2px + 0.3vw);
  color: rgb(27, 20, 20);
  opacity: 0;
  transform: rotateX(0deg);
}

.ofHtml,
.ofCss,
.ofJs,
.ofReact,
.ofmysql,
.ofgithub,
.ofgit,
.ofdocker,
.offigma,
.ofvscode,
.ofredux {
  opacity: 1;
  transform: rotateX(360deg);
  font-size: calc(17px + 0.3vw);
}

.skillList1,
.skillList2 {
  display: flex;
  flex-direction: row;
  gap: calc(4em + 1vw);
  width: 90%;
  /* justify-content: center; */
  flex-wrap: wrap;
}
.listIcon {
  font-size: calc(1em + 5vw);
  color: rgb(31, 30, 30);
}
/* .listIcon:hover {
  color: rgb(140, 10, 10);
} */
@media only screen and (max-width: 500px) {
  * .skill_container {
    width: 98%;
  }

  .skill_list {
    width: 90%;
    /* margin: 1em; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .skillList1,
  .skillList2 {
    /* display: flex; */
    /* flex-direction: column; */
    gap: calc(0.3em + 0.3vw);
    width: 100%;
    /* justify-content: center;
    align-items: center; */
  }
  .listIcon {
    font-size: calc(2.5em + 5vw);
    color: rgb(31, 30, 30);
  }
}
/* .hi {
  color: rgb(242, 36, 36);
} */
.html:hover {
  color: rgb(220, 102, 6);
}
.git:hover {
  color: rgb(255, 68, 0);
}
.docker:hover {
  color: rgb(50, 73, 224);
}
.figma:hover {
  color: rgb(6, 13, 51);
}
.vscode:hover {
  color: rgb(52, 73, 190);
}
.github:hover {
  color: rgb(0, 0, 0);
}
.mysql:hover {
  color: rgb(40, 69, 197);
}
.mongo:hover {
  color: rgb(13, 203, 13);
}
.react:hover {
  color: rgb(103, 222, 243);
}
.redux:hover {
  color: rgb(168, 19, 198);
}
.js:hover {
  color: rgb(186, 209, 36);
}
.css:hover {
  color: rgb(18, 63, 210);
}
.html:hover {
  color: rgb(220, 102, 6);
}
.html {
  transition: 100ms ease-in-out;
}
.css {
  transition: 200ms ease-in-out;
}
.js {
  transition: 300ms ease-in-out;
}
.react {
  transition: 400ms ease-in-out;
}
.redux {
  transition: 500ms ease-in-out;
}
.mysql {
  transition: 600ms ease-in-out;
}
.github {
  transition: 700ms ease-in-out;
}
.git {
  transition: 800ms ease-in-out;
}
.docker {
  transition: 900ms ease-in-out;
}
.figma {
  transition: 1000ms ease-in-out;
}
.vscode {
  transition: 1100ms ease-in-out;
}
