@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Kaushan+Script&family=Lato:wght@100&family=Lobster+Two&family=Merriweather:wght@300&family=Roboto:wght@100&family=Rubik+Vinyl&family=Satisfy&family=Spectral:ital,wght@1,200&family=Tilt+Prism&display=swap");

.Skill {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutSkill {
  font-family: "Golos Text", sans-serif;
}
.aboutSkill,
.Skill {
  background-color: rgb(255, 255, 255);
}
.skill_header {
  width: 80%;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.skill_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  width: 90%;
  min-height: 30em;
  margin: auto auto;
  gap: 1.5em;
  background-color: rgb(248, 251, 251);
}
.skill_container {
  width: 100%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  /* gap: 2em; */
  background-color: inherit;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  min-height: 1em;
  min-width: 1em;
  /* font-size: calc(2px + 0.3vw); */
  font-size: calc(15px + 0.3vw);
  font-family: "Merriweather", serif;
  color: rgb(27, 20, 20);
  opacity: 0;
  transform: rotateX(180deg);
}

.ofHtml,
.ofCss,
.ofJs,
.ofReact,
.ofmysql,
.ofgithub,
.ofgit,
.ofdocker,
.offigma,
.ofvscode,
.ofredux {
  opacity: 1;
  transform: rotateX(360deg);
}

.skillList1,
.skillList2 {
  display: flex;
  flex-direction: row;
  gap: calc(3em + 1vw);
  width: 90%;
  flex-wrap: wrap;
}
.listIcon {
  font-size: calc(1em + 5vw);
  color: rgb(31, 26, 26);
}

@media only screen and (max-width: 500px) {
  * .skill_container {
    width: 98%;
  }
  .skill_list {
    width: 90%;
    /* margin: 1em; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .skillList1,
  .skillList2 {
    /* display: flex; */
    /* flex-direction: column; */
    gap: calc(0.3em + 0.3vw);
    width: 100%;
    /* justify-content: center;
    align-items: center; */
  }
  .listIcon {
    font-size: calc(2.5em + 5vw);
    color: rgb(31, 30, 30);
  }
}
/* .hi {
  color: rgb(242, 36, 36);
} */
.html:hover {
  color: rgb(220, 102, 6);
}
.git:hover {
  color: rgb(255, 68, 0);
}
.docker:hover {
  color: rgb(50, 73, 224);
}
.figma:hover {
  color: rgb(6, 13, 51);
}
.vscode:hover {
  color: rgb(52, 73, 190);
}
.github:hover {
  color: rgb(0, 0, 0);
}
.mysql:hover {
  color: rgb(40, 69, 197);
}
.mongo:hover {
  color: rgb(13, 203, 13);
}
.react:hover {
  color: rgb(103, 222, 243);
}
.redux:hover {
  color: rgb(168, 19, 198);
}
.js:hover {
  color: rgb(186, 209, 36);
}
.php:hover {
  color: rgb(93, 76, 154);
}
.laravel:hover {
  color: rgb(209, 62, 36);
}
.css:hover {
  color: rgb(18, 63, 210);
}
.html:hover {
  color: rgb(220, 102, 6);
}
.docker {
  transition: 0.3s ease;
}
.react {
  transition: 0.6s ease;
}
.redux {
  transition: 0.9s ease;
}
.js {
  transition: 1.2s ease;
}

.mysql {
  transition: 1.5s ease;
}
.github {
  transition: 1.8s ease;
}
.git {
  transition: 2.1s ease;
}
.figma {
  transition: 2.4s ease;
}
.html {
  transition: 2.7s ease;
}
.css {
  transition: 3s ease;
}
.vscode {
  transition: 3.3s ease;
}
